<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>女優図鑑</title>
</head>
<body>
  <!-- サイドバー -->
  <div th:fragment="sidebar">
    <div class="offcanvas offcanvas-start bg-image"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      tabindex="-1"
      id="offcanvasScrolling"
      aria-labelledby="offcanvasScrollingLabel">
      <nav class="navbar-dark bg-image text-white">
        <div class="offcanvas-header">
          <h4 class="offcanvas-title">
            <a th:href="@{/}" class="text-white">
              <span class="d-inline-block me-1"
                style="transform: rotate(-15deg)">
                <em class="fas fa-clipboard fa-fw"></em>
              </span>
              女優図鑑
            </a>
          </h4>
        </div>

        <div class="offcanvas-body pt-0">
          <hr class="mt-1">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a th:href="@{/}" class="nav-link text-white">
                <em class="fas fa-book-reader fa-fw" style="margin-right: 10px;"></em>
                女優一覧
              </a>
            </li>
          </ul>
          <hr>
        </div>
      </nav>
    </div>
  </div>

  <!-- サイドバー折りたたみ時のトグルボタン -->
  <div th:fragment="toggler">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling"
          aria-expanded="false"
          aria-label="Toggle offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </div>

</body>
</html>
