.news-category {
    border-radius: 3px;
    color: #fff;
    padding: 2px 5px;
    margin: 0 20px;
    min-width: 80px;
    height: 30px;
    text-align: center;
}

.category-sale {
    background-color: blue;
}

.category-release {
    background-color: green;
}

.category-apology {
    background-color: red;
}

.category-undefined {
    background-color: gray;
}