<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="common/header :: commonHead(~{::title}, ~{::link}, ~{::script})">
  <title>登録画面</title>
</head>
<body>
  <header th:replace="common/header :: commonHeader()"></header>

  <!-- 登録フォーム -->
  <div class="col-sm-5">
    <div class="page-header">
      <h1>登録画面</h1>
    </div>
    <form th:method="post" th:action="@{/signup}">
      <table class="table table-bordered table-hover">
        <!-- ニックネーム -->
        <tr>
          <th class="active col-sm-3">ニックネーム</th>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" name="name"/>
            </div>
          </td>
        </tr>
        <!-- パスワード -->
        <tr>
          <th class="active">パスワード</th>
          <td>
            <input type="password" class="form-control" name="password" />
          </td>
        </tr>
        <!-- パスワード（再入力） -->
        <tr>
          <th class="active">パスワード（再入力）</th>
          <td>
            <input type="password" class="form-control" name="re-password" />
          </td>
        </tr>
      </table>
      <button class="btn btn-primary" type="submit">登録</button>
    </form>
  </div>

  <footer th:replace="common/footer :: commonFooter()"></footer>
</body>
</html>